<h2 class="content-block">Home</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">

  <p>Danke, dass Sie den Wind IO Digitialen Zwilling für Windenergieanlagen nutzen möchten. Diese Anwendung zur Verwaltung von Digitalen Zwillingen wird im Rahmen des Verbundprojektes Wind IO entwickelt. Das Projekt wird durch das Bundesministerium für Wirtschaft und Klimaschutz geförtert.</p>
  <p>Diese Anwendung befindet sich noch im Aufbau, bitte besuchen Sie folgende Webseiten für weitere Informationen:</p>
  <ul>
    <li><a href="https://www.brementestturbine.science/" target="_blank" rel="noopener noreferrer">Projekthomepage</a></li>
    <li><a href="https://github.com/orgs/project-windio" target="_blank" rel="noopener noreferrer">Quellcodeverwaltung (Github)</a></li>
  </ul>
</div>
</div>
